@import reset
@import font-awesome

color-blue = #99f

html
  height 100%
  width 100%

body
  padding 0px
  font 12px Helvetica, Arial, sans-serif
  background linear-gradient(top, black, #444)
  color white

h1
	font-size 3em
	font-weight bolder

h2
	font-size 2em
	font-weight bold

#header
  padding 10px 20px
  border-bottom 1px solid white
  h2
    font-weight 100
    color color-blue

#footer
  padding 10px 20px
  border-top 2px solid white

a
  color #999

ul.to-do 
  li
    padding 0
    margin 0
    border-top 1px dotted #ccc
    display block
    font-size 1.66em
    line-height 2em
    position relative
    &:first-child
      border-top none
    span
    a
    a:hover
      color white
      display block
      padding 0.33em 1em 0.33em 1em;
      text-decoration none
      position relative
      i
        font-size 0.9em
        margin-right 0.5em

    &:hover
      background-color color-blue;
      a
      a:hover
        color white

  li.complete
    text-decoration line-through
    color #999
    span
    a
    a:hover
      z-index 1
      color #999
      text-decoration line-through
    a:hover
      color: #ccc
    a.remove
      position absolute
      right 0
      top 0
      z-index 100
      display inline
      text-decoration none

  li.add
    &:hover
      background none
    span
      padding-left 1em
      position relative
      label
        color color-blue
      input[type='text']
        border 1px solid #aaa
        padding 0.2em
        font-size 1em



